{% extends 'YdzyJxBundle:Jx:layout.html.twig' %}
{% block body %}
<?php ?>
<script src="{{ asset('bundles/jxbundle/js/followpage.js') }}"></script>
<script>

function reloadList(json_data,current){
	$("#machine_list").html("");
	var current = current;
	page(current);
	
	if(json_data==""){
		var json={
			"start": "0",
			"num": "30"
			};
		}else{
			var json = json_data;
			}
  	ajaxPost(
		'app_dev.php/api/follownews',
		json,
		function(data, textStatus){
		  //alert(data.length);
		  for(var i=0;i<data.length;i++){
			if(data[i].uid==0){
				$("#machine_list").append("<a href='#' onclick='shownews("+data[i].pid+")'><div class='col-sm-12'><div class=\"col-sm-2\" style=\"padding:0;\">"+data[i].title+"</div><div class='col-sm-7'>"+data[i].content+"</div><div class='col-sm-3'>"+data[i].creation_date+"</div></div></a><img src=\"{{ asset('bundles/jxbundle/images/hr.png') }}\"/>");
				}else{
     $("#machine_list").append("<div class='col-sm-12'><div class=\"col-sm-2\" style=\"padding:0;\">"+data[i].title+"</div><div class='col-sm-7'>"+data[i].content+"</div><div class='col-sm-3'>"+data[i].creation_date+"</div></div><img src=\"{{ asset('bundles/jxbundle/images/hr.png') }}\"/>");
				}
      }//结束循环
	
    },
    function(XMLHttpRequest, textStatus, errorThrown){
		 switch(XMLHttpRequest.status)
		{
			case 400: //没数据
				break;
			default:
				//alert('加载数据出现错误，请重试');
		}
    }
  );
}

function reloadFollowNum(){
	
	var json = {};
  	ajaxPost(
		'app_dev.php/followme',
		json,
		function(data, textStatus){
		  
		  $("#count_num").html("共"+data.num+"人关注我");
		  },
    function(XMLHttpRequest, textStatus, errorThrown){
		 
    }
  );
}
function shownews(oClick){
	$('#myalert').modal('show');
	var url = "http://wanjiwang.cn/jx/pushtml/"+oClick;
	$('#iframe_1').attr("src",url);
	}
function reloadFollowList(){
	$("#machine_list").html("");
	var json = {};
  	ajaxPost(
		'app_dev.php/followme',
		json,
		function(data, textStatus){
		  //alert(data.num);
		  $("#count_num").html("共"+data.num+"人关注我");
		  for(var i=0;i<data.json.length;i++){
			
     $("#machine_list").append("<div class='col-sm-12'><div class=\"col-sm-2\" style=\"padding:0;\">"+data.json[i].nickname+"</div><div class='col-sm-7'>"+data.json[i].phone+"</div><div class='col-sm-3'>"+data.json[i].updated_date+"</div></div><img src=\"{{ asset('bundles/jxbundle/images/hr.png') }}\"/>");
       
      }//结束循环
	
    },
    function(XMLHttpRequest, textStatus, errorThrown){
		 switch(XMLHttpRequest.status)
		{
			case 400: //没数据
				break;
			default:
				//alert('加载数据出现错误，请重试');
		}
    }
  );
}

$(function(){
loadnav();			
reloadList("",0);		
reloadFollowNum();
$("#followme").click(function(){
	$("#followme").attr("style","text-decoration: underline");
	$("#myfollow").attr("style","text-decoration: none");
	$("#pagebar").hide();
	reloadFollowList();
	});
$("#myfollow").click(function(){
	$("#myfollow").attr("style","text-decoration: underline");
	$("#followme").attr("style","text-decoration: none");
	$("#pagebar").show();
	reloadList("",0);
	});
});//function 主函数结束

function iFrameHeight() { 
var ifm= document.getElementById("iframe_1"); 
ifm.height = 0;
var subWeb = document.frames ? document.frames["iframe_1"].document : ifm.contentDocument; 
if(ifm != null && subWeb != null) { 
ifm.height = subWeb.body.scrollHeight;
} 
} 


</script>
   
  <div id="content" style="position:relative; width:100%; margin-top:10px; padding:0;" class="col-sm-12">

  <div class="col-sm-12" style="padding-left:0; padding-right:0; margin-top:20px;">
  	<div class="col-sm-9" style="overflow:hidden; padding-left:0;"><span style="font-size:16px; font-weight:bold; color:#b40202; padding-left:5px;"><a href="#" id="myfollow">关注动态</a></span><span style="float:left; position:absolute;left:80px; color:#999; font-size:10px; line-height:25px;" id="index_list_num"></span><span style="float:left; position:absolute;left:140px;">|</span><span style="float:left; position:absolute;left:150px;font-size:16px; font-weight:bold; color:#b40202; margin-left:10px;"><a href="#" id="followme">关注我的人</a></span><span style="float:left; position:absolute;left:250px; color:#999; font-size:10px; line-height:25px;" id="count_num"></span>
    
    <img src="{{ asset('bundles/jxbundle/images/hr.png') }}"/>
   <div class="col-sm-12" id="machine_list"></div>
    </div>
    
    
  	<div class="col-sm-3" style="padding-right:0px; padding-left:20px;">
    	{{ include('YdzyJxBundle:Jx:right.html.twig')}}    
    </div><!--右侧广告位展示-->
  </div>
  <div class="col-sm-12"  style="padding-top:30px;" align="center"> <!--分页开始-->
  <ul class="pagination" id="pagebar"></ul>
    <input type="hidden" id="currentPage" style="width:500px;"/>  
    </div><!--分页结束-->
</div> <!--content结束-->

<!-- Modal -->
<div class="modal" id="myalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:330px;margin-top: 117px;margin-right: 113px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">详情内容</h4>
      </div>
      <div class="modal-body" id="myalert_content">
        <iframe id="iframe_1" style="border:0;" frameBorder=0 scrolling=no width="100%" onLoad="iFrameHeight()"></iframe>
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
       </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}