<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>机械修改 - 管理平台</title>

<link href="{{ asset('bundles/ydzyadmin/css/page.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/ydzyadmin/js/jquery-ui-1.8.23.custom/css/ui-lightness/jquery-ui-1.8.23.custom.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/ydzyadmin/js/jquery-easyui-1.3/themes/default/easyui.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/ydzyadmin/js/jquery-easyui-1.3/themes/icon.css') }}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{{ asset('bundles/ydzyadmin/js/jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ydzyadmin/js/jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ydzyadmin/js/jquery-easyui-1.3/jquery.easyui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ydzyadmin/js/jquery.json-2.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ydzyadmin/js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ydzyadmin/js/functions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ydzyadmin/js/hehe.js')}}"></script>

<script>

var timeoutId = 0;
var allowInput = 0;

function fillMerchantInfo()
{
  showHint($('#hint'), 'msg', '正在获取信息，请稍候……', 0);
	var machine_id = $('#machine_id').val();
	var json = {
				machine_id:machine_id
			};

	ajaxPost(
		'app_dev.php/api/machine/preinfo',
		json,
		function(data, textStatus){
		    showHint($('#hint'), 'msg', '获取信息成功', 0);
		    var mark  = data.mark;
			$('#mark').val(mark);
			$('#machine_name').val(data.machine_name);
			var category = data.category_id;
			var brand = data.brand_id;
			$('#category').combobox('select', category);
			$('#province').combobox('select', data.province_id);
			$('#city').combobox('select', data.city_id);
			$('#flag').combobox('select', data.flag);
			$('#brand').combobox('select', brand);
			$('#model').val(data.model);
			$('#description').val(data.description);
			$('#workhours').val(data.workhours);
			$('#tonn').val(data.tonn);
			$('#lat').val(data.lat),
			$('#lng').val(data.lng),
			$('#linker').val(data.linker);
			$('#linker_tel').val(data.linker_tel);
						
			if(mark==0){
			$('#tr_sale_price').hide();
			}else if(mark==1){
			$('#tr_rent_by_num').hide();
			$('#tr_rent_by_month').hide();
			}
			$('#sale_price').val(data.sale_price);
			$('#rent_by_month').val(data.rent_by_month);
			$('#rent_by_num').val(data.rent_by_num);
			
			
			
			
		},
		function(XMLHttpRequest, textStatus, errorThrown){
			alert("出现错误，请刷新重试");
		}
	);
}

function doPost(){
 	if (confirm("确定提交吗？")){
	var machine_name;
	if($('#machine_name').val()==""){
	machine_name = $('#category').combobox('getText')+" "+$('#brand').combobox('getText')+" "+$('#model').val();
	}else{
	machine_name = $('#machine_name').val();
	}
		var json = {
				machine_id:$('#machine_id').val(),
				machine_name:machine_name,
				workhours:$('#workhours').val(),
				tonn:$('#tonn').val(),
				signer:$.cookie('username'),
				brand_id:$('#brand').combobox('getValue'),
				categroy:$('#category').combobox('getValue'),
				description:$('#description').val(),
				rent_by_month:$('#rent_by_month').val(),
				rent_by_num:$('#rent_by_num').val(),
				sale_price:$('#sale_price').val(),
				brand_model:$('#model').val(),
				lat:$('#lat').val(),
				lng:$('#lng').val(),
				linker:$('#linker').val(),
				linker_tel:$('#linker_tel').val()
			  };
		ajaxPost(
			'api/machine/preupdate',
			json,
			function(data, textStatus){
			    alert("保存成功");
				window.location.href="mysearch";
			},
			function(XMLHttpRequest, textStatus, errorThrown){
				alert("保存失败，请刷新重试");
			}
		);
	}
}


function doDelete(){
	if (confirm("确定删除吗？")){
		var json = {
				machine_id:$('#machine_id').val()
				};
		ajaxPost(
			'app_dev.php/api/machine/predel',
			json,
			function(data, textStatus){
			    alert("删除成功");
				window.location.href="mysearch";
			},
			function(XMLHttpRequest, textStatus, errorThrown){
				alert("删除失败，请刷新重试");
			}
		);
	}
	
}
	

$(function(){
	fillMerchantInfo();
});

</script>
</head>

<body>

<div class="page_title">
	<span>修改/删除信息</span>
	<input id="machine_id" type="hidden" value="{{machine_id}}"/>
	<input id="mark" type="hidden" value=""/>
</div>

<div class="box" style="min-height:100px;overflow:hidden;">

<table border="0" style="float:left;">

<tr><td align="center" colspan="2"><div id="hint"></div>&nbsp;</td></tr>
<tr>
	<td align="right" class="bold">机况简介</td>
	<td align="left">
	<textarea id="machine_name" cols="20" rows="3"></textarea>
	</td>
</tr>
<tr>
	<td align="right" class="bold">联系人</td>
	<td align="left"><input id="linker" class="easyui-validatebox" style="width:176px"/></td>
</tr>
<tr>
	<td align="right" class="bold">联系人电话</td>
	<td align="left"><input id="linker_tel" class="easyui-validatebox" style="width:176px"/></td>
</tr>
<tr>
	<td align="right" class="bold">机器类别</td>
	<td align="left"><input id="category" class="easyui-combobox" style="width:180px" data-options="valueField:'id',textField:'category_name',url:'{{ url('category_retrieveall')}}',onSelect:function(rec){var url='/app_dev.php/api/brand/retrieveAll?category_id='+ $('#category').combobox('getValue');$('#brand').combobox('reload', url);}" /></td>
</tr>
<tr>
	<td align="right" class="bold">品牌</td>
	<td align="left"><input id="brand" class="easyui-combobox" style="width:180px" data-options="valueField:'id',textField:'brand_name'"/></td>
</tr>
<tr>
	<td align="right" class="bold">型号</td>
	<td align="left"><input id="model" class="easyui-validatebox" style="width:176px"/></td>
</tr>
<tr id="tr_sale_price">
	<td align="right" class="bold">售价</td>
	<td align="left"><input id="sale_price" class="easyui-validatebox" style="width:176px"/></td>
</tr>
<tr id="tr_rent_by_month">
	<td align="right" class="bold">月租金</td>
	<td align="left"><input id="rent_by_month" class="easyui-validatebox" style="width:176px"/></td>
</tr>
<tr id="tr_rent_by_num">
	<td align="right" class="bold">台租金</td>
	<td align="left"><input id="rent_by_num" class="easyui-validatebox" style="width:176px"/></td>
</tr>
<tr>
	<td align="right" class="bold">吨位</td>
	<td align="left"><input id="tonn" class="easyui-validatebox" style="width:176px"/></td>
</tr>
<tr>
	<td align="right" class="bold">工作小时数</td>
	<td align="left"><input id="workhours" class="easyui-validatebox" style="width:176px"/></td>
</tr>

<tr>
	<td align="right" class="bold">详细描述</td>
	<td align="left"><textarea id="description" cols="20" rows="5"></textarea></td>
</tr>
<tr>
	<td align="right" class="bold">机械所在位置：省</td>
	<td align="left"><input id="province" class="easyui-combobox" style="width:80px" data-options="valueField:'id',textField:'area',url:'{{ url('area_retrievePro')}}',onSelect:function(rec){var url='/app_dev.php/api/area/retrieveCity?pro_id='+ $('#province').combobox('getValue');$('#city').combobox('reload', url);},required:true" />
	<span class="bold">市</span><input id="city" class="easyui-combobox" style="width:80px" data-options="valueField:'id',textField:'area',required:true"/>
	</td>
</tr>
<tr>
	<td align="right" class="bold"></td>
	<td align="left">请在右侧点选机械所在位置</td>
</tr>
<tr>
	<td align="right" class="bold"></td>
	<td align="left"><input id="lng" type = "hidden" data-options="required:true" class="easyui-validatebox" style="width:78px"/><input id="lat" type="hidden" class="easyui-validatebox" data-options="required:true" style="width:78px"/></td>
</tr>

<tr>
	<td align="center" colspan="2">
	<button onClick="openLoginBox('/admin/machine/manage_images?machine_id={{machine_id}}')">查看修改机器图片</button>
	<button onclick="doPost()">确定</button>
	<button onclick="doDelete()">删除</button>
	</td>
</tr>
</table>


<div style="float:left;">
		<div id="float_search_bar">
				<label>区域：</label>
				<input type="text" id="keyword" />
				<button id="search_button" >查找</button>
				<span>点击地图或标注获取坐标</span>
		</div>
	   <div id="preview" style="border: 1px solid #bfd2e1;width: 750px;height: 550px;">
			<div id="map_container" style="height: 550px;"></div>
		</div>
	</div>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2"></script>
	<script type="text/javascript">
		function getUrlParas(){
			var hash = location.hash,
				para = {},
				tParas = hash.substr(1).split("&");
			for(var p in tParas){
				if(tParas.hasOwnProperty(p)){
					var obj = tParas[p].split("=");
					para[obj[0]] = obj[1];
				}
			}
			return para;
		}
		var para = getUrlParas(),
			center = para.address?decodeURIComponent(para.address) : "百度大厦",
			city = para.city?decodeURIComponent(para.city) : "北京市";
	
	
		var marker_trick = false;
		var map = new BMap.Map("map_container");
		map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
		map.enableScrollWheelZoom();
	
		var marker = new BMap.Marker(new BMap.Point(116.404, 39.915), {
			enableMassClear: false,
			raiseOnDrag: true
		 });
		marker.enableDragging();
		map.addOverlay(marker);
	
		map.addEventListener("click", function(e){
			if(!(e.overlay)){
				map.clearOverlays();
				marker.show();
				marker.setPosition(e.point);
				setResult(e.point.lng, e.point.lat);
			}
		});
		marker.addEventListener("dragend", function(e){
			setResult(e.point.lng, e.point.lat);
		});
	
		var local = new BMap.LocalSearch(map, {
			renderOptions:{map: map},
			 pageCapacity: 1
		});
		local.setSearchCompleteCallback(function(results){
			if(local.getStatus() !== BMAP_STATUS_SUCCESS){
				alert("无结果");
			} else {
				 marker.hide();
			 }
		});
		local.setMarkersSetCallback(function(pois){
			for(var i=pois.length; i--; ){
				var marker = pois[i].marker;
				marker.addEventListener("click", function(e){
					marker_trick = true;
					var pos = this.getPosition();
					setResult(pos.lng, pos.lat);
					
				});
			}
		});
	
		window.onload = function(){
			local.search(center);
			document.getElementById("search_button").onclick = function(){
				local.search(document.getElementById("keyword").value);
			};
			document.getElementById("keyword").onkeyup = function(e){
				var me = this;
				e = e || window.event;
				var keycode = e.keyCode;
				if(keycode === 13){
					local.search(document.getElementById("keyword").value);
				}
			};
		};
		function setResult(lng, lat){
			  $('#lng').val(lng);
			  $('#lat').val(lat);
		}
   </script>


</div>

<div class="instbox"> 
说明：
<ul>
	<li>可以修改删除信息</li></ul>
</div>

</body>
</html>